<div class="col-md-12" *ngIf="medicalForms">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>Bun Venit <small> ai {{medicalForms.length}} fise active </small> </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          </div>
          <div class="dropdown show">
            <a class="btn btn-default dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" >
              <span class="fa fa-calendar"></span> Status
            </a>
          
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="changeStatus(1)">Consulturi</a>
              <a class="dropdown-item" (click)="changeStatus(2)">Internari</a>
              <a class="dropdown-item"  (click)="changeStatus(3)">Inchise</a>
              <a class="dropdown-item"  (click)="changeStatus(12)">Active</a>
              <a class="dropdown-item"  (click)="changeStatus(123)">Toate</a>
            </div>
          </div>
      </div>

    </div>
    <h3>Fise medicale</h3>
    <div *ngIf="medicalForms" class="row">
        <div *ngIf="medicalForms.length > 0; else noMedicalForms" class="col-md-12">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Cod</th>
                <th>data</th>
                <th>Pacient</th>
                <th>Diagnostic</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medicalForm of medicalForms">
                <th scope="row">{{medicalForm.id}}</th>
                <td>{{medicalForm.code}}</td>
                <td>{{medicalForm.dateCheckUp}}</td>
                <td><span *ngIf="pacients && pacients[medicalForm.id]">{{pacients[medicalForm.id].lastName}} {{pacients[medicalForm.id].firstName}}</span></td>
                <td><ul class="list-inline"> <li *ngFor="let diagnostic of medicalForm.diagnosticList" class="list-inline-item"> {{diagnostic.name}} </li> </ul></td>
                <td><a routerLink="/fisa-medicala/{{medicalForm.id}}" class="btn btn-primary"> <i class="fa fa-eye"></i> Vezi</a></td>
              </tr>

            </tbody>
          </table>

        </div>
        <ng-template #noMedicalForms>
          <h4>Nu exista fise medicale in sistem</h4>
        </ng-template>
      </div>
  </div>