<app-navbar *ngIf="!isLoginPage()"></app-navbar>
<div class="container-fluid" *ngIf="!isLoginPage(); else noDisplay">
  
  <div class="row">
    <app-dashbar ></app-dashbar>

    <main role="main" class="pt-3 px-4 page-wrapper"  [ngClass]="{'expanded':isToggled() }" >
      <div class="fixed-top m-3">
          <flash-messages></flash-messages>
      </div>
      
    <router-outlet></router-outlet>
  </main>
  </div>
</div>
<ng-template #noDisplay >
    <flash-messages></flash-messages>
  <router-outlet [hidden]="isLoginPage()"></router-outlet>
</ng-template>
