<div class="col-md-12" *ngIf="floors">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1>Etaje</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span class="fa fa-calendar"></span>
        This week
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let floor of floors" class="col-md-3 col-sm-6" >    
      <a href="" routerLink="/etaj/{{floor.id}}">  
        <div class="box d-flex align-items-center "  [ngClass]="{'active':isActive(floor.status),'inactive':!isActive(floor.status) }">    
              <div class="box-title text-center w-100"><h3>{{floor.code}} - status:{{floor.status}} </h3> </div>
            
        </div>             
      </a>  
    </div>
  </div>
</div>